@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Quicksand";
    src: url("./Quicksand/Quicksand-VariableFont_wght.ttf");
}

body {
    background-color: #6c6c6c;
    color: #F5FFFA
}